html,
body {
    background-color: #f7f7f7;
}


/* body {
    padding-top: 70px;
} */


/* Carousel 100% Fullscreen */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel {
    margin-bottom: 0;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    background-color: #777;
}

.carousel .carousel-inner .bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .carousel-inner .bg1 {
    background-image: url('../img/Slider-Images4.jpg');
    background-position: center top;
}

.carousel .carousel-inner .bg2 {
    background-image: url('../img/Slider-Images2.jpg');
    background-position: center center;
}

.carousel .carousel-inner .bg3 {
    /* Photo by Fotis Fotopoulos on Unsplash */
    background-image: url('../img/Slider-Images1.jpg');
    background-position: center bottom;
}

.carousel .carousel-inner .bg4 {
    background-image: url('../img/Slider-Images3.jpg');
    background-position: center bottom;
}

.modal-header {
    padding-left: 30px;
    margin-bottom: 0;
    background-color: #4ddbff;
}

.modal-title {
    font-weight: 100;
}

.card .title {
    font-size: 16px;
    font-weight: 600;
    color: #669999;
    text-transform: uppercase;
    line-height: 2rem;
}

.wrapper {
    background-color: #f7f7f7;
}

.section-title p {
    font-size: 36px;
    font-weight: 100;
    margin-top: 35px;
    margin-bottom: 25px;
    text-transform: uppercase;
    padding: 0 50px 0 50px;
    line-height: 1.2;
}

.jumbotron {
    background-image: url(../img/jumbotronimg.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: purple;
    margin-bottom: 80px;
}

.carousel-caption h1 {
    font-weight: 900;
    font-size: 5vw;
}

#attnGrabber p {
    font-size: 25px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 25px;
}

#attnGrabber {
    background-color: #afa69d;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
}

.quote-mark {
    font-size: 4em;
}

.card-price-features {
    font-size: 14px;
    font-weight: 600;
    color: #9A9A9A;
    margin-top: 10px;
    text-align: center;
}

.card-price .list-unstyled {
    font-size: 20px;
}

.price-card-icon {
    margin-top: 20px;
}

.card-price .fa {
    font-size: 36px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.just-some-extra-margin {
    margin-bottom: 25px;
}

.btn-fleet {
    border-color: #cc00cc;
    color: #cc00cc;
}

.btn-fleet:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover,
.open>.btn-success.dropdown-toggle,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle:hover {
    background-color: transparent;
    border-color: #800080;
    color: #800080;
}

.btn-fleet.btn-fill {
    color: #FFFFFF;
    background-color: #cc00cc;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-fleet.btn-fill:hover,
.btn-success.btn-fill:focus,
.btn-success.btn-fill:active,
.btn-success.btn-fill.active,
.open>.btn-success.btn-fill.dropdown-toggle {
    background-color: #800080;
    color: #FFFFFF;
}

.btn-torquoise {
    border-color: #00e6e6;
    color: #00e6e6;
}

.btn-torquoise:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover,
.open>.btn-success.dropdown-toggle,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle:hover {
    background-color: transparent;
    border-color: #00cccc;
    color: #00cccc;
}

.btn-torquoise.btn-fill {
    color: #FFFFFF;
    background-color: #00e6e6;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-torquoise.btn-fill:hover,
.btn-success.btn-fill:focus,
.btn-success.btn-fill:active,
.btn-success.btn-fill.active,
.open>.btn-success.btn-fill.dropdown-toggle {
    background-color: #00cccc;
    color: #FFFFFF;
}

#getInTouch form {
    margin-bottom: 60px;
}

.required-field p {
    font-size: 14px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}


/*Media query controlling jumbotron, attention grabber, and section titles on smaller screens*/

@media (min-width: 320px) and (max-width: 767px) {
    body {
        padding-top: 75px;
    }
    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
    }
    .jumbotron h2,
    .h2 {
        font-size: 26px;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .section-title p {
        font-size: 30px;
        font-weight: 100;
        margin-top: 25px;
        margin-bottom: 15px;
        text-transform: uppercase;
        padding: 0 30px 0 30px;
        line-height: 1.2;
    }
    .btn-lg,
    .btn-group-lg>.btn {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    #attnGrabber p {
        font-size: 16px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 15px;
        padding: 0 30px 0 30px;
    }
    #attnGrabber {
        background-color: #afa69d;
        color: white;
        padding: 30px;
        margin-bottom: 50px;
    }
    .quote-mark {
        font-size: 2em;
    }
}

.panel-group .panel {
    margin-bottom: 5px;
}

#acordeonBottom {
    margin-bottom: 50px;
}

.tracking-description p {
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.3;
}

.section-violet {
    background-color: #f0f0f5;
}

.myicon {
    font-size: 5rem;
    padding: 0;
    display: inline-table;
    /* color: #45c0fd; */
    color: #b30086;
    text-shadow: 1px 2px 0 white;
}

.footer-contact-control {
    font-size: 14px;
    font-weight: normal;
    color: #9A9A9A;
}

@media (min-width: 768px) {
    .card-price .content {
        min-height: 417px;
    }
}

@media (min-width: 992px) {
    .card-height-equal2 {
        min-height: 550px;
    }
    .card-price .content {
        min-height: 470px;
    }
}

@media (min-width: 1200px) {
    .card-height-equal2 {
        min-height: 500px;
    }
    .card-price .content {
        min-height: 428px;
    }
}

@media (max-width: 991px) {
    .contactus-center {
        text-align: center;
    }
    .pull-left {
        float: none!important;
    }
    .quote-mark {
        font-size: 3em;
    }
}