html,
body {
    background-color: #f7f7f7;
}


/* body {
    padding-top: 70px;
} */


/* Carousel 100% Fullscreen */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    font-size: 14px !important;
    height: 121px !important;
}

.navbar-image {
    height: 120px;
    padding: 25px 50px;
}

.nav {
    margin-bottom: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
    padding: 25px 0 !important;
}

.nav>li:hover {
    position: relative;
    display: block;
    background-color: rgb(107, 12, 96);
    padding: 25px 0 !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:not(.btn):hover,
.navbar-default .navbar-nav>.active>a:not(.btn):focus,
.navbar-default .navbar-nav>li>a:not(.btn):hover,
.navbar-default .navbar-nav>li>a:not(.btn):focus {
    background-color: transparent;
    border-radius: 3px;
    color: rgb(221, 221, 215);
    opacity: 1;
    filter: alpha(opacity=100);
    font-weight: 700;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel {
    margin-bottom: 0;
}

.carousel-caption {
    position: absolute;
    bottom: 200px;
    align-content: center;
    z-index: 10;
}

.carousel .item {
    background-color: #777;
}

.carousel .carousel-inner .bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .carousel-inner .bg1 {
    background-image: url('../img/Slider-Images4.jpg');
    background-position: center top;
}

.carousel .carousel-inner .bg2 {
    background-image: url('../img/Slider-Images2.jpg');
    background-position: center center;
}

.carousel .carousel-inner .bg3 {
    /* Photo by Fotis Fotopoulos on Unsplash */
    background-image: url('../img/Slider-Images1.jpg');
    background-position: center bottom;
}

.carousel .carousel-inner .bg4 {
    background-image: url('../img/Slider-Images3.jpg');
    background-position: center bottom;
}

.login-bar {
    height: 70px;
    background-color: #f8f5ef;
    position: relative;
}

.login-par {
    color: rgb(107, 12, 96);
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-bar-xs {
    display: none;
    height: 70px;
    background-color: #f8f5ef;
    position: relative;
}

.login-par-xs {
    display: none;
    color: rgb(107, 12, 96);
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .btn-login-bar {
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
    border-color: rgb(221, 221, 215);
    color: rgb(221, 221, 215);
} */

.btn-login-bar {
    border-width: 2px;
    background-color: rgb(107, 12, 96);
    font-weight: 400;
    opacity: 1;
    filter: alpha(opacity=80);
    padding: 8px 16px;
    border-color: rgb(221, 221, 215);
    color: rgb(221, 221, 215);
}


/* .btn-outline-secondary {
    color: rgb(107, 12, 96);
    background-color: transparent;
    background-image: none;
    border-color: rgb(107, 12, 96);
}

.btn-outline-secondary:hover {
    color: rgb(221, 221, 215);
    background-color: rgb(107, 12, 96);
    border-color: rgb(107, 12, 96);
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
} */

.btn-outline-secondary {
    color: rgb(107, 12, 96);
    background-color: transparent;
    background-image: none;
    border-color: rgb(107, 12, 96);
}

.btn-outline-secondary:hover {
    color: rgb(221, 221, 215);
    background-color: rgb(107, 12, 96);
    border-color: rgb(107, 12, 96);
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-xs {
    font-size: 24px;
    font-weight: 700;
    border-radius: 0;
    padding: 20px 30px;
    height: 70px;
}

.modal-header {
    padding-left: 30px;
    margin-bottom: 0;
    background-color: #4ddbff;
}

.modal-title {
    font-weight: 100;
}

.card .title {
    font-size: 16px;
    font-weight: 600;
    color: #669999;
    text-transform: uppercase;
    line-height: 2rem;
}

.wrapper {
    background-color: #f7f7f7;
}

.section-title p {
    font-size: 36px;
    font-weight: 100;
    margin-top: 35px;
    margin-bottom: 25px;
    text-transform: uppercase;
    padding: 0 50px 0 50px;
    line-height: 1.2;
}

.space-50 {
    height: 200px;
    background-color: #0f0d0d;
    display: block;
    margin-bottom: 5px;
}

.section-title-newsletter p {
    font-size: 22px;
    font-weight: 300;
    color: #e7e6e6;
    /* margin-top: 0; */
    /* margin-bottom: 15px; */
    text-transform: uppercase;
    padding: 50px 50px 0 50px;
    line-height: 1.5;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto
}

.jumbotron {
    background-image: url(../img/jumbotronimg.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: purple;
    margin-bottom: 80px;
}

.carousel-caption h1 {
    font-weight: 900;
    font-size: 5vw;
}

#attnGrabber p {
    font-size: 25px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 25px;
}

#attnGrabber {
    background-color: #afa69d;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
}

.quote-mark {
    font-size: 4em;
}

.card-price-features {
    font-size: 14px;
    font-weight: 600;
    color: #9A9A9A;
    margin-top: 10px;
    text-align: center;
}

.card-price .list-unstyled {
    font-size: 20px;
}

.price-card-icon {
    margin-top: 20px;
}

.card-price .fa {
    font-size: 36px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.just-some-extra-margin {
    margin-bottom: 25px;
}

.btn-fleet {
    border-color: #cc00cc;
    color: #cc00cc;
}

.btn-fleet:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover,
.open>.btn-success.dropdown-toggle,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle:hover {
    background-color: transparent;
    border-color: #800080;
    color: #800080;
}

.btn-fleet.btn-fill {
    color: #FFFFFF;
    background-color: #cc00cc;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-fleet.btn-fill:hover,
.btn-success.btn-fill:focus,
.btn-success.btn-fill:active,
.btn-success.btn-fill.active,
.open>.btn-success.btn-fill.dropdown-toggle {
    background-color: #800080;
    color: #FFFFFF;
}

.btn-torquoise {
    border-color: #00e6e6;
    color: #00e6e6;
}

.btn-torquoise:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover,
.open>.btn-success.dropdown-toggle,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle:hover {
    background-color: transparent;
    border-color: #00cccc;
    color: #00cccc;
}

.btn-torquoise.btn-fill {
    color: #FFFFFF;
    background-color: #00e6e6;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-torquoise.btn-fill:hover,
.btn-success.btn-fill:focus,
.btn-success.btn-fill:active,
.btn-success.btn-fill.active,
.open>.btn-success.btn-fill.dropdown-toggle {
    background-color: #00cccc;
    color: #FFFFFF;
}

#getInTouch form {
    margin-bottom: 60px;
}

.required-field p {
    font-size: 14px;
}

.help-block.with-errors {
    color: #8d8b8b;
    margin-top: 5px;
}


/* .form-control {
    height: auto;
    font-size: 24px;
    border: 0;
    padding: 0;
    font-weight: 300;
    line-height: 70px;
    background-color: transparent;
}

.form-control {
    color: #d39e0c;
} */

.subscribe-line-transparent-background {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.subscribe-line-transparent-background .container {
    z-index: 2;
    position: relative;
}

.subscribe-line-transparent-background::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.8);
    display: block;
    content: "";
    z-index: 1;
}

#mc_embed_signup {
    margin: none;
    background-color: transparent;
}

#mc_embed_signup_scroll label {
    display: none;
}

#mc_embed_signup input.email {
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 300;
    line-height: 70px;
    line-height: 1.42857143;
    color: #d39e0c;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#mc_embed_signup input.email:focus {
    border-color: #d39e0c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #d39e0c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #d39e0c;
}

#mc_embed_signup input.email::-moz-placeholder {
    text-align: center;
    color: #d39e0c;
    opacity: 1;
}

#mc_embed_signup input.email:-ms-input-placeholder {
    text-align: center;
    color: #d39e0c;
}

#mc_embed_signup input.email::-webkit-input-placeholder {
    text-align: center;
    color: #d39e0c;
}

textarea #mce-EMAIL {
    height: auto;
}

#mc-embedded-subscribe {}

.subscribe-line .btn:not(.btn-lg) {
    margin-top: 10px;
    padding: 6px 12px;
    width: 100% !important;
}

.newsletter {
    padding-top: 35px;
    background-color: #FFFFFF;
}

.panel-group .panel {
    margin-bottom: 5px;
}

#acordeonBottom {
    margin-bottom: 50px;
}

.tracking-description p {
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.3;
}

.section-violet {
    background-color: #f0f0f5;
}

.myicon {
    font-size: 5rem;
    padding: 0;
    display: inline-table;
    /* color: #45c0fd; */
    color: #b30086;
    text-shadow: 1px 2px 0 white;
}

.footer-contact-control {
    font-size: 14px;
    font-weight: normal;
    color: #9A9A9A;
}

.form-control::-moz-placeholder {
    color: #d39e0c;
    opacity: 1;
    filter: alpha(opacity=100);
}

.form-control:-moz-placeholder {
    color: #d39e0c;
    opacity: 1;
    filter: alpha(opacity=100);
}

.form-control::-webkit-input-placeholder {
    color: #d39e0c;
    opacity: 1;
    filter: alpha(opacity=100);
}

.form-control:-ms-input-placeholder {
    color: #d39e0c;
    opacity: 1;
    filter: alpha(opacity=100);
}

.has-success .form-control {
    border-color: #4CB4C3;
}

.has-success .form-control:focus {
    border-color: #4CB4C3;
}

.navbar {
    margin-bottom: 0;
}


/*Media query controlling jumbotron, attention grabber, and section titles on smaller screens*/

@media (min-width: 320px) and (max-width: 767px) {
    /* body {
        padding-top: 75px;
    } */
    .nav>li {
        position: relative;
        display: block;
        padding: 0 !important;
    }
    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
    }
    .jumbotron h2,
    .h2 {
        font-size: 26px;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .section-title p {
        font-size: 30px;
        font-weight: 100;
        margin-top: 25px;
        margin-bottom: 15px;
        text-transform: uppercase;
        padding: 0 30px 0 30px;
        line-height: 1.2;
    }
    .btn-lg,
    .btn-group-lg>.btn {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    #attnGrabber p {
        font-size: 18px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 15px;
        padding: 0 30px 0 30px;
    }
    #attnGrabber {
        background-color: #afa69d;
        color: white;
        padding: 30px;
        margin-bottom: 50px;
    }
    .quote-mark {
        font-size: 2em;
    }
    .section-title-newsletter p {
        font-size: 16px;
        line-height: 1.5;
    }
    .subscribe-line .form-control {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-title-newsletter p {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .subscribe-line .form-control {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .card-price .content {
        min-height: 417px;
    }
}

@media (min-width: 992px) {
    .card-height-equal2 {
        min-height: 550px;
    }
    .card-price .content {
        min-height: 472px;
    }
}

@media (min-width: 1200px) {
    .card-height-equal2 {
        min-height: 500px;
    }
    .card-price .content {
        min-height: 430px;
    }
}

@media (max-width: 991px) {
    .contactus-center {
        text-align: center;
    }
    .pull-left {
        float: none!important;
    }
    .quote-mark {
        font-size: 3em;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin: 0;
    }
}

@media (max-width: 935px) {
    .login-bar {
        display: none;
        height: 70px;
        background-color: #f8f5ef;
        position: relative;
    }
    .login-par {
        display: none;
        color: rgb(107, 12, 96);
        margin: 0;
        font-size: 24px;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-bar-xs {
        display: block;
        height: 70px;
        background-color: #f8f5ef;
        position: relative;
    }
    .login-par-xs {
        display: block;
        color: rgb(107, 12, 96);
        margin: 0;
        font-size: 24px;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-login-bar {
        border-width: 2px;
        background-color: rgb(107, 12, 96);
        font-weight: 400;
        opacity: 1;
        filter: alpha(opacity=80);
        padding: 8px 16px;
        border-color: rgb(107, 12, 96);
        color: rgb(221, 221, 215);
    }
    .btn-outline-secondary {
        color: rgb(221, 221, 215);
        background-color: rgb(107, 12, 96);
        background-image: none;
        border-color: rgb(107, 12, 96);
    }
    .btn-outline-secondary:hover {
        color: rgb(107, 12, 96);
        background-color: transparent;
        border-color: rgb(107, 12, 96);
    }
    .btn-outline-secondary:focus,
    .btn-outline-secondary.focus {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    }
    .btn-xs {
        font-size: 24px;
        font-weight: 700;
        border-radius: 0;
        padding: 20px 30px;
        height: 70px;
    }
}